/* body */

html, body, .container
{
    height: 100%;
}


page-wrapper
{
    background-color: #C2C3C5;
}

/* garis lurus warna */
.line-color-kei
{
    background: url(Images/line_header_long.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EC1D23;
    width: 100%;
    height: 2px;
    display: block;
    z-index: 999;
    top: 85px;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    left: 0;
}

/* pagination */
.pagination-ys
{
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-ys table > tbody > tr > td
{
    display: inline;
}

.pagination-ys table > tbody > tr > td > a, .pagination-ys table > tbody > tr > td > span
{
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span
{
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a, .pagination-ys table > tbody > tr > td:first-child > span
{
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-ys table > tbody > tr > td:last-child > a, .pagination-ys table > tbody > tr > td:last-child > span
{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination-ys table > tbody > tr > td > a:hover, .pagination-ys table > tbody > tr > td > span:hover, .pagination-ys table > tbody > tr > td > a:focus, .pagination-ys table > tbody > tr > td > span:focus
{
    color: #97310e;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.table > tbody > tr > td, .table > tbody > tr > th
{
    font-size: 12px;
}

