@model ASPCoreTraining.Domain.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid px-4">

    @Html.Raw(@ViewBag.ErrorMessage)
    <div class="card">
        <div class="card-body">

            <div class="row gx-3 ">

                <!-- Section Header -->
                <div class="col-md-12 mb-3">
                    <div class="mb-3">
                        <div class="card">
                            <form asp-action="EditPost">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="EmployeeIdMasking" />
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="DepartmentId" class="control-label"></label>
                                    <input asp-for="DepartmentId" class="form-control" />
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <input class="btn btn-warning btn-sm" type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-success btn-xs" asp-action="Index">Back to List</a>
                    </div>
                </div>


                <!-- Section 2 -->
                <!-- Section 3 -->
                <!-- Section Button -->
                @*  <div class="col-md-4 mb-3">
                <div class="mb-3">
                <!-- Save changes button-->

                </div>
                </div> *@

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
